

body{
    background-color: black;
    color: white;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
}
h1 {
   
    background-color: rgb(151, 58, 238);
    
}